<div *ngIf="q.length != 0">
  <div *ngFor="let ques of q">
    <mat-label>{{ ques }}</mat-label>
    <div *ngIf="selectedQues == 'P'">
      <input placeholder="Enter Answer" />
    </div>
  </div>
</div>

<button (click)="openModal()">Add Question</button>
<jw-modal>
  <h3>Add New Questions</h3>
  <mat-label>Choose the type:</mat-label>
  <select [(ngModel)]="selectedQues">
    <option value="C">Checkbox List</option>
    <option value="P">Paragraph</option>
  </select>
  <br />
  <br />
  <input [(ngModel)]="ques" placeholder="Type Question Here" />
  <br /><br />
  <div *ngIf="selectedQues == 'C'">
    <input [(ngModel)]="opt[0]" placeholder="Add Answer option" /><br />
    <input [(ngModel)]="opt[1]" placeholder="Add Answer option" /><br />
    <input [(ngModel)]="opt[2]" placeholder="Add Answer option" /><br />
    <input [(ngModel)]="opt[3]" placeholder="Add Answer option" /><br />
    <input [(ngModel)]="opt[4]" placeholder="Add Answer option" />
  </div>
  <br /><br />
  <input type="checkbox" />This field is required <br />
  <input type="checkbox" />Allow user to specify own answer<br />

  <button (click)="closeModal()">Submit</button>
</jw-modal>
